/* This contains most of the CSS code, which will be added to all the various pages. The style of the website will be shared across all pages, so that the website flows
appropriately. If there is any odd spacing out with the code, that is because it helps me develop the code when it all fits in my viewpoint.*/

body {
 background-color:rgb(255,255,255); 
 
}
h1 {
 text-size: 20px;
}
p {
 text-size: 10px;
}
