/* This contains most of the CSS code, which will be added to all the various pages. The style of the website will be shared across all pages, so that the website flows
appropriately. If there is any odd spacing out with the code, that is because it helps me develop the code when it all fits in my viewpoint.*/

body {
 background-color:rgb(255,255,255);
 border-width:10px;
 border-color:rgb(0,0,0);
 border-style:solid;
}
/* Heading Styling */
h1.header {
 text-size: 20px;
 color:rgb(255,0,0);
}
/* Navigation Styling */
div.navigation {
 text-size:20px;
 display:block;
}
/*Customising the Navigation bar to remove the bullet points and removing the spacing between the browser and the lists */
ul.navigation {
 list-style-type:none;
 padding:0;
 margin:0;
}
/* Making the Navigation horizontally listed instead of vertically listed */
li.navigation {
 display:inline;
 float:left;
}
/* Making spacing between each individual link, and also adding in some colour */
li a.nav {
 color:rgb(0,255,0);
 display:block;
 padding:10px;
 margin:10px;
 border:
}
/* Content Styling */
div.content {
 text-size:10px;
 color:rgb(0,0,255);
 display:block;
}
/* Footer Styling */

