/* This contains most of the CSS code, which will be added to all the various pages. The style of the website will be shared across all pages, so that the website flows
appropriately. If there is any odd spacing out with the code, that is because it helps me develop the code when it all fits in my viewpoint.*/

body {
 background-color:rgb(255,255,255);
 padding:0;
 margin:0;
 /* This is setting the tone of the font for the entire website. My default is Verdana, my first fallback is Arial, and if neither of these are supported, then I want it
 to pick a sans-serif font that is supported. This is based on an informed decision after getting another opinion on the fonts. */
 font-family:"Verdana", "Arial", sans-serif;
}
/* It is recommended to use this so elements remain the same size, regardless of padding or margins. */
* {
 box-sizing:border-box;
}
/* Heading Styling */
h1.header {
 color:rgb(0,0,0);
 margin-left:1vw;
 text-size:5vw;
}
/* Navigation Styling */
ul.navigation {
 margin-left:1vw;
 padding:0;
 list-style-type:none;
 background-color:rgb(0,0,0);
 overflow:hidden;
 border:"black" 4px solid;
 display:block;
 max-width:100%;
}
ul.navigation li {
 float:left;
}
li a.nav {
 text-align:center;
 padding:10px;
 display:block;
 color:rgb(255,255,255);
}
/* For the current page the user is on */
li a.active {
background-color:rgb(100,100,100);
text-align:center;
padding:10px;
display:block;
color:rgb(255,255,255);
}
/* Content Styling */
div.content {
 text-size:2vw;
 color:rgb(0,0,0);
 margin-left:1vw;
}
/* Footer Styling */
table.footer, tr, td {
 border-style:solid;
 border-width:3px;
 border-color:"black";
 border-collapse:collapse;
 margin-left:1vw;
}
/* For all links inside the table, I want to remove the underlining of the links */
a.tablinks {
 text-decoration:none;
}
/*Rescaling of images on my website */
@media only screen and (min-width:600px) {
iframe {
 max-width:100%;
 height:30vw;
}
img {
 max-width:100%;
 max-height:100%;
}
}
